# Google Health integratie (Epic 7)
# Maak een OAuth 2.0 client aan in Google Cloud Console:
#   https://console.cloud.google.com/apis/credentials
#
# Kies "Web application" als applicatietype.
# Voeg als geautoriseerde omleidingsURI toe:
#   http://localhost:5173/oauth/google/callback   (ontwikkeling)
#   https://<jouw-domein>/oauth/google/callback  (productie)
#
# Activeer in de Google Cloud Console ook de Fitness API:
#   https://console.cloud.google.com/apis/library/fitness.googleapis.com
#
VITE_GOOGLE_CLIENT_ID=your-google-oauth-client-id.apps.googleusercontent.com
